<main>
    <div class="main-flex">
        <h1 style="color: white;">Minesweeper</h1>
        <button class="new-game" mat-flat-button (click)="newGame()">Start new game</button>

        <h2 *ngIf="gameOver">
            You {{ isWin ? "won!" : "lost!"}}
        </h2>
        
        <mat-card style="box-sizing: border-box;">
            <div class="score-card">

            </div>
            <div class="game-board">
                <app-square
                    *ngFor = "let dummy of revealed; let i = index;"
                    [value]="getVal(i)"
                    [color]="getColor(i)"
                    [textColor]="getTextColor(i)"
                    (click) = "makeMove(i)"
                    (contextmenu) = "flag(i, $event)">
                </app-square>
            </div>
        </mat-card>
    </div>
</main>

