<main>
    <div class="main-flex">
        <h1>Minesweeper</h1>
        <button mat-flat-button color = "primary" (click)="newGame()">Start new game</button>

        <h2 *ngIf="gameOver">
            You {{ isWin ? "won!" : "lost!"}}
        </h2>
        
        <mat-card style="box-sizing: border-box;">
            <div class="game-board">
                <app-square
                    *ngFor = "let val of squares; let i = index;"
                    [value]="val"
                    (click) = "makeMove(i)"
                    (contextmenu) = "flag(i, $event)">
                </app-square>
            </div>
        </mat-card>
    </div>
</main>

