<main>
    <div class="main-flex">
        <div class="toolbar">
            <div class="toolbar-items">               
                <span class="inner-toolbar-item"> {{flagsLeft}} </span>
            </div>
            <button class="new-game" mat-flat-button (click)="newGame()">Start new game</button>
            <div class="toolbar-items">
                <span class="inner-toolbar-item"> {{time}} </span>
            </div>
        </div>
        <h2 style="color: white;" *ngIf="gameOver">
            You {{ isWin ? "won!" : "lost!"}}
        </h2>
        
        <mat-card style="box-sizing: border-box;">
            <div class="score-card">

            </div>
            <div class="game-board">
                <app-square
                    *ngFor = "let dummy of revealed; let i = index;"
                    [value]="getVal(i)"
                    [color]="getColor(i)"
                    [textColor]="getTextColor(i)"
                    (click) = "makeMove(i)"
                    (contextmenu) = "flag(i, $event)">
                </app-square>
            </div>
        </mat-card>
    </div>
</main>

